<form action="/users/register" method="POST">
  <input name="name" placeholder="Name" required />
  <input name="email" placeholder="Email" required />
  <input name="password" type="password" placeholder="Password" required />
  <button type="submit">Register</button>
</form>